<p>{% load i18n %}{% autoescape off %}
    Hej Pet Lover!<br/>
{% blocktrans %}Du har glemt dit password, men tag det helt roligt<br/>
    Vi hjælper dig, og det eneste du skal gøre, er at klikke på det her link, for at lave et nytpassword.{% endblocktrans %}
</p>
<br/><br/>
{% block reset_link %}


<a href="{{ protocol }}://{{ site_name }}/reset/password/{{uid}}/{{token}}">Nyt password</a>

{% endblock %}
<br/><br/>
Du skal logge ind på PeddiGo med din email: <b>{{ user.email }}</b>
<br/>
og dit nye password.<br/>

{% trans "De bedste hilsner" %}
<br/><br/>
PeddiGo Teamet
<br/>



{% endautoescape %}
